<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>

<table>
  <tbody>
  <tr>
    <td>Surname</td>
    <td>Name</td>
    <td>Fathername</td>
    <td>Age</td>
    <td>Post</td>
    <td>Department</td>
    <td>Skills</td>
    <td>Experience</td>
    <td>Accepted at</td>
  </tr>
  <tr th:each="person : ${people}">
    <td th:text="${person.surname}"></td>
    <td th:text="${person.name}"></td>
    <td th:text="${person.fathername}"></td>
    <td th:text="${person.age}"></td>
    <td th:text="${person.post}"></td>
    <td th:text="${person.department}"></td>
    <td th:text="${person.skills}"></td>
    <td th:text="${person.experience}"></td>
    <td th:text="${person.acceptedAt}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>